@model CorrectTemp.Models.Account

@{
    ViewBag.Title = "resetPassword";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!-- Cart view section -->
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="aa-myaccount-register">
                                
                                <h4>Re set Password</h4><br/>
                                @if (ViewBag.Message != null)
                                {
                                   <font color="RED"> @ViewBag.Message</font>
                                }
                                @using (Html.BeginForm("resetPwdAction", "Account", FormMethod.Post, new { @class = "aa-login-form" }))
                                {
                                    
                                        <label>Username<span>*</span></label>
                                        <input type="text" name="username" placeholder="Verify Username">
                                        <label>Enter new Password<span>*</span></label>
                                        <input type="password" name="pwd1" placeholder="New password">
                                        <label>Verify new password<span>*</span></label>
                                        <input type="password" name="pwd" placeholder="Verify new password">

                                        <button type="submit" value="SignIn" class="aa-browse-btn">Reset</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
