
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>
<ul>
    <li>
        @Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en"},null)
    </li>
    <li>
        @Html.ActionLink("French", "Change", "Language", new { LanguageAbbrevation = "fr" }, null)
    </li>
</ul>

